# Binaries
calico-vpp-agent/cmd/calico-vpp-agent
calico-vpp-agent/cmd/felix-api-proxy
calico-vpp-agent/cmd/debug
calico-vpp-agent/dep/gobgp
vpp-manager/images/*/vpp-manager
vpp-manager/images/*/vppdev.sh
vpp-manager/vpp_build/
*.deb
vpplink/binapi/bin/

test/k8s-e2e-tests/kubernetes-*
test/vagrant/local-config.env
test/vagrant/.vagrant

# Test outputs
*.out
*.test

# IDE files
.vscode

# macOS
.DS_Store

# build artefacts
calico-vpp-agent/version
vpp-manager/images/ubuntu/version
