# Binaries
calico-vpp-agent/bin
util/bin
vpp-manager/images/*/vpp-manager
vpp-manager/images/*/vppdev.sh
vpp-manager/vpp_build/
*.deb
multinet-monitor/watcher

test/k8s-e2e-tests/kubernetes-*
test/vagrant/local-config.env
test/vagrant/.vagrant

# Test outputs
*.out
*.test

# IDE files
.vscode
.idea

# macOS
.DS_Store
*.bkp

# build artefacts
calico-vpp-agent/version
vpp-manager/images/ubuntu/version
test/scripts/.buildlogs
multinet-monitor/version
